<h3>Requests order by date desc</h3>
<div style="width: 100%;">


</div>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Priority</th>
      <th scope="col">Date</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">      
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>@{{customer.priority}} </td>
      <td>{{customer.updated}}</td>
      <td>{{customer.state}}</td>
    </tr>
  </tbody>
</table>