<div class= "inside-manager-page" *ngIf="customer">
  <div>
    <label>Name: </label> {{customer.name}}
  </div>
  <div>
    <label>Description: </label> {{customer.description}}
  </div>
  <div>
    <label>Priority: </label> {{customer.priority}}
  </div>
  <div>
    <label>State: </label> {{customer.state}}
  </div>
  <div>
    <label>Technician: </label> {{customer.technician}}
  </div>

  <div>
     <button class="button  btn btn-primary priority" (click)="updateState('approval')">Approval</button>
  </div> 

  <div>
     <label for="name">Select technician:</label>
     <br>
     <button class="button btn btn-danger technician" (click)="updateTechnician('Pedro')">Pedro</button>
     <button class="button btn btn-secondary technician" (click)="updateTechnician('Alejandro')">Alejandro</button>
     <button class="button btn btn-info technician" (click)="updateTechnician('Josselyn')">Josselyn</button>
    
  </div>
  <hr/>
</div>