<div class = "body-principal" style="padding: 20px; width: 100%; ">
  <p class = "principal-title" class= "principal-title">{{title}}</p>
  <h2 class="description">{{description}}</h2>
  <nav>
    <a routerLink="customer" class="btn btn-primary active principal-options" role="button" routerLinkActive="active">Manager</a>
    <a routerLink="add" class="btn btn-primary active principal-options" role="button" routerLinkActive="active">Employee</a>
    <a routerLink="status" class="btn btn-primary active principal-options" role="button" routerLinkActive="active">Approval Page</a>
  </nav>

  <router-outlet></router-outlet>
</div>