.principal-options {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
}
.principal-title {
	
	font-size: 4.5rem;
	color: #286090;
	font-weight: 800;
}
.description {
	font-weight: bold;
    padding-bottom: 7px;
}