<h3>Create Employee Ticket</h3>
<div [hidden]="submitted" style="width: 500px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name">
    </div>

     <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="customer.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">Priority</label>
      <select [(ngModel)]='customer.priority' class='form-control' name="priority">
        <option value='low'>low</option>
        <option value='normal'>normal</option>
        <option value='high'>high</option>
      </select>
    </div>
    

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>